In [1]:
#Q7: Go to the link - https://www.myntra.com/shoes
#Set second Price filter and Color filter to “Black”, as shown in the below image.
#And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
#description, price of the shoe as shown in the below image.
#And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
#description, price of the shoe as shown in the below image.

In [3]:
#First install the Selenium

!pip install selenium

Requirement already satisfied: selenium in c:\users\91620\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\91620\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\91620\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91620\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\users\91620\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\91620\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\91620\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\91620\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\91620\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\91620\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91620\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\users\91620\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\91620\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\91620\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\91620\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\91620\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91620\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\91620\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91620\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [6]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [7]:
driver = webdriver.Chrome(r"C:\Users\91620\Downloads\chromedriver_win32\chromedriver.exe")

In [8]:
driver.get('https://www.myntra.com/shoes')
time.sleep(2)

In [9]:
color_filter = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_filter.click()
time.sleep(3)

In [7]:
price_filter = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter.click()
time.sleep(3)

In [8]:
Brand = []
Shoe_des = []
Price = []

for i in range(2):
    
    brand = driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
    shoe_des = driver.find_elements(By.XPATH,"//h4[@class='product-product']")
    price = driver.find_elements(By.XPATH,"//div[@class='product-price']/span[1]")


    for i in brand : Brand.append(i.text)
    for i in shoe_des: Shoe_des.append(i.text)
    for i in price : Price.append(i.text)
time.sleep(3)

nxt_page = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
nxt_page.click()

In [9]:
print(len(Brand),len(Shoe_des),len(Price))

100 100 100

In [10]:
SHOE_Data = pd.DataFrame({'Brand':Brand,'Shoe_des':Shoe_des,'Price':Price})
SHOE_Data

             Brand                        Shoe_des               Price
0             Nike  Men ZOOM WINFLO8 Running Shoes    Rs. 7465Rs. 8295
1         Skechers      Men Max Cushioning Running    Rs. 7199Rs. 8999
2             Nike    Men React Infinity 3 Running  Rs. 11895Rs. 13995
3           ADIDAS    Men Solar Glide 4 ST Running  Rs. 11999Rs. 14999
4             Nike     Men SRG 3 FK Training Shoes    Rs. 8005Rs. 8895
..             ...                             ...                 ...
95          Clarks            Men Leather Slip-Ons    Rs. 7899Rs. 9999
96  Tommy Hilfiger                    Men Sneakers    Rs. 6799Rs. 7999
97  ROSSO BRUNELLO  Men Solid Formal Slip-On Shoes           Rs. 11999
98            Puma     Men KING Top Football Shoes   Rs. 7199Rs. 11999
99         GABICCI    Men Textured Leather Loafers            Rs. 7450

[100 rows x 3 columns]